/*Colors and fonts */

body {
	background-color: #F8F7F7;
	color: #55575A;
	font-family: 'Lora', serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.4;
	text-align: center;
}

h1,h2,a{
	font-family: 'Josefin Sans', sans-serif;
}

h1{
	color: #55575A;
	font-size: 40px;
	font-weight: 800;
	letter-spacing: 1.3px;
}

h2{
	font-weight:700;
	font-size: 22px;
	color: #E0C5A3;
}

a{
	text-decoration: none;
	color: #EDD3B8;
	font-weight: 500;
	transition: color 0.3s ease;
}
a:hover{
	color: #E0C5A3;
	cursor: pointer;
}

/* Custom design with class (99% of design) */

.container{
	width: 900px;
	margin: 50px auto;
}

.card-white{
	background-color: white;
	padding: 30px;
	margin: 60px 0px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	box-shadow: 0 10px 25px rgba(85, 87, 90,.1);
	text-align: center;
}

.img-circle{
	border-radius: 50%
}

.btn-blue{
	background-color: #EAD4B9;
	color: #3F5275;
	padding: 10px 15px;
	margin: 20px;
	border-radius: 5px;
	margin-bottom: 30px;
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}
.btn-blue:hover{
	background-color: #FFF7ED;
	color: #3F5275;
	transition: color 0.6s ease;
	letter-spacing: 0.5px;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 20px;
}
.list-inline i{
	font-size: 30px;
	color: #EDD3B8;
}
.list-inline i:hover{
	color: #3F5275;
}

/* Custom design with id (1% of design) */

#cinema p{
	margin-bottom: 30px;
}

/* Display */

@media (max-width: 930px){
	.container{
		width: 700px;
	}
}
@media (max-width: 720px){
	.container{
		width: 500px;
	}
}
@media (max-width: 540px){
	.container{
		width: 360px;
	}
}
